body {
    margin:0;
    font-family:'Courier New', Courier, monospace;
}

main {
    border: 5px solid rgba(0, 0, 0, 0.124);
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    position: relative;
    background-color: rgb(2, 2, 2);
}

.active {
    border: 5px solid rgba(64, 64, 64, 0.129);
    background-image: url('tinyworm-2.gif');
    
}

@keyframes transform1  { 
    from {transform: rotate(0deg) skewY(20deg);}
    to {transform: rotate(360deg) skewY(360deg);}
}

@keyframes feGaussianBlur {
    from {filter: blur(0);}
    to {filter: blur(1.5rem);}
}

@keyframes invert {
    from {filter: invert(0);}
    to {filter: invert(1);}  
    }

@keyframes opacity {
    from { opacity: 1;}
    to {opacity: 0;}
}

@keyframes transform2 {
    from {transform: scale(1, 1);}
    to {transform: scale(1000, 0.5);}
}


?@keyframes pixels {
    from {image-rendering: auto;}
    to {image-rendering: pixelated;}?
}



/*.imgclass1 {
    position: absolute; 
    transform: rotate(0deg) skewY(0deg);
    animation-name: transform ;
    animation-duration: 200s;
}*/

.title{
    position:fixed;
    left:45%;
    top:45%; 
    font-size: 30px;
    color:#ddd;padding:10px 16px;
}
.container{
    position: fixed; 
    left: 5%; 
    top: 85%;
    width: 100px;
    height: 100px;
    margin: 0;
}

.container .box {
    margin: 0;
    position: relative;
    align-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(90, 90, 90);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 100%;
}

.container .box .content p {
   text-align: center;
   top: 50%;
   padding: 0;
   color: rgb(255, 255, 255);
   font-size: 16px;
   align-items: center;
}
